langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
langchain_groq
fastapi
uvicorn
langserve
SQLAlchemy
mysql-connector-python
phidata
yfinance
packaging
duckduckgo-search
pgvector
google-generativeai
crewai
crewai_tools
langgrapg
langsmith
astrapy
cassio
sentence-transformers
"langgraph-cli[inmem]"
